@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');


/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background: #000000;
  scroll-behavior: smooth;
}

/* body styling */
body {
  background: linear-gradient(20deg, #000000, #000000, #020202, #151515, #1a1919);
  color: #fff;
  line-height: 1.6;
  font-family: 'poppins';
}

a{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.logo{
  background: linear-gradient(40deg, #c4c4c4, #8b8b8b, #e8e8e8, #f3f3f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: 400;
  margin-left: 0.5rem;
}

.navbar-nav a{
  font-size: 0.8rem;
  font-weight: 300;
}

.custom-dropdown .dropdown-menu{
  margin-top: 0.7rem;
  /* transform: translateX(-50%) !important; 
  left: 50% !important; 
  right: auto !important;  */

}

.custom-font{
  color: #ffffff; 
  width: 5rem;
  font-size: 0.9rem;
  line-height: 1.3;
}

.navbar-nav .nav-link{
color: #ffffff; 
transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
color: #c9c9c9;
}
.navbar-nav .nav-link.active {
  color: #c9c9c9; 
}

.custom-dropdown .dropdown-toggle::after{
  display: none;
}

.navbar .premium{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.2rem;
  margin-left: 2rem;
}

.apple{
  width: 1.7rem;
}

.premium p{
  text-align: center;
  font-size: 0.7rem;
  line-height: 1.2;
  font-weight: 300;
}

nav img{
  width: 1rem;
}

nav img:hover{
  background:#000000;
  width: 2rem;
}

.navbar-blur{
  background: #000000b4;
  backdrop-filter: blur(10px);
}

/* Latest Section */
.hero{
  text-align: center;
  height: 100vh;
}

.carousel-item{
  height: 100vh;
  position: relative;
}

.hero .img-container{
  max-width: 50vh;
  margin: auto;
}

.hero img{
  max-width: 100%;
}

.hero .productName{
  position: absolute;
  bottom: 20%;
  left: 10%;
  z-index: 1;
}

.hero .productName p{
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0;
}

.hero .productName h4{
  margin-left: 0.5rem;
  display: inline;
  font-size: 1.2rem;
  font-weight: 300;
}

/* Categories */

#categories{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

#categories h2{
  text-align: center;
  font-weight: 400;
  margin-bottom: 10%;
}

.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla {
  max-width: 58rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 45%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 30%;
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide img{
  width: 100%;
  border-radius: 50px;
  border: 1px solid #424242;
}

.img-container{
  position: relative;
  height: 100%;
}

.overlay{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0000007c;
  border-radius: 50px;
  transition: 0.5s ease;
  backdrop-filter: blur(1px);
  font-size: 1.5rem;
  color: #ffffff;
}

.img-container:hover .overlay{
  opacity: 1;
}

.embla__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__play {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
  color: var(--text-body);
  font-weight: 700;
  font-size: 1.4rem;
  padding: 0 2.4rem;
  min-width: 8.4rem;
}

/* Category page */
.categoryPage{
  max-width: 100vw;
}

.category-container{
  max-width: 85%;
  height: auto;
  margin: 2rem auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.7rem;
}

.card-container{
  height: 20rem;
  width: 15rem;
  border: 1px solid #4e4e4e;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
}

.card-container .img-container{
  width: 70%;
  height: 11rem;
  display: flex;
  align-items: center;
  justify-self:center ;
}

.card-container img{
  max-width: 100%;
}

.card-container p{
  margin-top: 2rem;
}


/* Footer */
.footer {
  background-color: #000000;
  color: #ccc;
  padding: 2rem 4rem;
  border-top: 1px solid #232323;
}

.footer-content {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
  
.footer-section img {
  width: 1rem;
  margin-right: 0.5rem;
}

.footer-section h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 400;
}

.footer-section p, a{
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  font-weight: 300;
}

.footer-section a {
  color: #ccc;
  text-decoration: none;
}

.footer-section a:hover {
  color: #fff;
}

.mobile-app{
  display: flex;
  flex-direction: column;
}

.mobile-app p{
  display: inline;
  margin-left: 0.5rem;
}

.mobile-app a{
  padding: 0.7rem 0.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 8rem;
  border: 1px solid #232323;
}

.mobile-app a:hover{
  background: #232323;
}

.newsletter p{
  margin-bottom: 0.8rem;
}

.footer-bottom {
  padding-top: 20px;
  border-top: 1px solid #333;
  margin-top: 20px;
}

.footer-bottom p {
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 0.7rem;
}

.footer-bottom a:hover {
  color: #fff;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  margin-right: 0.8rem
}

form input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1rem;
  background: #000000;
  border: 1px solid #333;
  color: #fff;
}


::-webkit-scrollbar {
  width: 10px;
  border: #000000;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(55, 55, 55); 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #272727; 
}