@media (max-width: 1150px) {
  .hero .productName p{
    font-size: 2.5rem;
  }
}

@media (max-width: 992px) {
  .navbar{
    background: rgb(15, 15, 15) ;
  }

  .navbar .search{
    display: none;
  }

  .footer-content {
    margin: auto;
    width: 90%;
  }
  }

@media (max-width: 962px) {
  .hero .productName p{
    font-size: 2.2rem;
  }
  .embla__slide {
    flex: 0 0 37%;
  }

  .embla {
    max-width: 45rem;
  }
}


@media (max-width: 840px) {
  /* .hero .productName p{
    font-size: 1.9rem;
  } */

}


@media (max-width: 768px) {
  /* .hero .productName p{
    font-size: 1.5rem;
  }

  .hero .productName h4{
    font-size: 0.8rem;
  } */
    .embla__slide {
      flex: 0 0 40%;
    }

    .embla {
      max-width: 38rem;
    }

    
}

@media (max-width: 645px) {
  .embla__slide {
    flex: 0 0 50%;
  }

  .embla {
    max-width: 28rem;
  }
}

   @media (max-width: 576px) {
    .embla__slide {
      flex: 0 0 60%;
    }

    .embla {
      max-width: 20rem;
    }
  

    .hero .img-container{
      /* max-width: 20rem; */

    }

    .hero .productName{
      bottom: 20%;
      left: 15%;
    }
   
  }

  /* @media (max-width: 400px) {
    
  }

  @media (max-width: 345px) {
   
  } */


  
    
  
  