@media (max-width: 992px) {
    .nav-btn {
      display: block;
    }
  
    .responsive-nav {
      background-color: #0000008e;
      backdrop-filter: blur(10px);
    }

    @keyframes dropMenu {
        0%{
            height: 20vh;
        }
        100%{
            height: 100vh;
        }
    }
  
    .primary-list {
      flex-direction: column;
      position: absolute;
      top: 4rem;
      transition: height 1s ease;
      display: none; 
      animation: dropList 2s forwards;
      gap: 1rem;
    }

    @keyframes dropList {
        0%{
            opacity: 0;
        }
        100%{
            opacity :100%;
        }
    }
  
    /* .primary-list.active {
      display: flex; 
    }
   */

   @media (max-width: 768px) {
    .embla__slide {
      flex: 0 0 40%;
    }

    .embla {
      max-width: 38rem;
    }
  }

  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
}
   @media (max-width: 576px) {
    .embla__slide {
      flex: 0 0 60%;
    }

    .embla {
      max-width: 25rem;
    }
  }

  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
    
  
  